@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexCalumn{
    display: flex;
    flex-direction: column;
}
@mixin displayFlex{
    display: flex;
    align-items: center;
}